:root {
  font-size: 62.5%;
  --primaryColor: #041e8b;
  --secondaryColor: #09b1d9;
  --uniColor: #1b1e76;
  --btnColor: #0025b4;
  --mainWhite: #fff;
  --mainBlack: #444;
  --mainSpacing: 0.2rem;
  --lineHeight: 1.4;
  --mediumFont: 5.5rem;
  --main-shadow: 0px 15px 55px rgba(0, 0, 0, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* globals */
body {
  padding: 75px 0 0 0;
  font-family: Arial, Helvetica, sans-serif;
  background: var(--mainWhite);
  overflow-x: hidden;
  color: var(--mainBlack);
  font-size: 1.6rem;
}

/* end of globals */

/* navbar */

.navbar {
  position: fixed;
  width: 100%;
  padding: 2rem 2rem;
  background: var(--mainWhite);
  top: 0;
  left: 0;
  z-index: 3;
}

.nav-center {
  max-width: 1170px;
  margin: 0 auto;
}
.nav-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.nav-links-div {
  display: flex;
  align-items: center;
}
.nav-links {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.nav-links a {
  margin: 0 1rem;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--mainBlack);
  letter-spacing: 0.1rem;
  display: inline;
}
.nav-hire {
  margin: 0 0 0 2rem;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo span {
  padding: 0 0.5rem 0 0;
}

/* end of navbar */

/* Hero */

.hero {
  min-height: calc(100vh - 75px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background: var(--mainWhite);
}

/* End of Hero */

/* banner */
.banner {
  padding: 0rem 2rem;
}
.banner-center {
  max-width: 117rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 4rem;
}
.banner-grid-p {
  padding: 2rem 8rem 2rem 0;
  line-height: var(--lineHeight);
}
.left-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.right-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.grid-text {
  padding: 0 0 1rem 0;
  color: var(--mainBlack);
}
.grid-text h1 {
  font-size: var(--mediumFont);
}
.btn-container {
  display: flex;
}
.btn {
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 0.5rem;
  text-decoration: none;
  color: var(--mainBlack);
  background: var(--btnColor);
  text-transform: capitalize;
}
.dark {
  background: var(--mainBlack);
  color: var(--mainWhite);
}
.left-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.right-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 0rem 0 0;
}
.grid-text {
  padding: 0 0 2rem 0;
  color: var(--mainBlack);
}
.btn {
  padding: 1.4rem 4rem;
  text-transform: capitalize;
  text-decoration: none;
  color: var(--mainWhite);
  background: var(--btnColor);
}
.btn-big {
  padding: 2rem 8rem;
}
.btn-container {
  display: flex;
  align-items: center;
}
.play-link {
  display: flex;
  margin: 0 0 0 1rem;
  text-decoration: none;
}
.play-link .fa-play {
  color: var(--mainBlack);
}
.play-link span {
  color: var(--primaryColor);
  padding: 0 0 0 1rem;
}
/* end of banner */

/* Title */
.section-title {
  text-align: center;
  padding: 1rem 0;
}
.centered {
  display: flex;
  justify-content: center;
}
/* end of Title */

/* why procredita */
.why-procredita {
  padding: 4rem 2rem;
  background: #f5f9ff;
}
.why-procredita-center {
  max-width: 1170px;
  margin: 0 auto;
}
.why-procredita-container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 2rem;
  text-align: left;
}
.grid-p {
  padding: 0 0 2rem 0;
  line-height: var(--lineHeight);
}
.grid-p-bold {
  font-weight: bold;
  font-size: 2rem;
}
.card {
  box-shadow: var(--main-shadow);
  background: var(--mainWhite);
  margin: 0 6rem;
  z-index: 3;
}
.main-dots-div {
  position: relative;
  z-index: 2;
}

.card-dots {
  position: absolute;
  right: -10px;
  top: -80px;
}
.card-center {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-row-gap: 3rem;
  grid-column-gap: 3rem;
  text-align: center;
}
.card-btn-div {
  padding: 2rem 0;
  display: flex;
  justify-content: center;
}
.card-icon-div {
  padding: 1rem;
  display: flex;
  justify-content: center;
  width: 5rem;
  height: 5rem;
  align-items: center;
  margin: 6rem auto;
  border-radius: 2rem;
}
.card-text-div {
  padding: 0 3rem;
}
.card-text-div p {
  line-height: var(--lineHeight);
}
.fa-shopping-cart {
  background: #01114c;
}
.fa-cloud {
  background: #09b1d9;
}
.fa-warehouse {
  background: #0025b4;
}
.card-icon {
  font-size: 2rem;
  color: var(--mainWhite);
}
/* end of why procredita */

/* own procredita */
.own-procredita {
  padding: 6rem 2rem;
}
.own-procredita-center {
  max-width: 1170px;
  margin: 0 auto;
}
.own-procredita-container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-row-gap: 3rem;
  grid-column-gap: 3rem;
  text-align: right;
}
.lady-dots-div {
  position: relative;
}
.lady-dots {
  position: absolute;
}
.shape {
  position: absolute;
  top: 250px;
  right: 200px;
}
.bean {
  position: absolute;
  top: 220px;
  right: 60px;
}
.own-btn-div {
  padding: 2rem 0;
  display: flex;
  justify-content: flex-end;
}
.right-grid h5 {
  color: var(--uniColor);
}
/* end of own procredita */

/* partnered */
.partnered {
  padding: 6rem 2rem;
  background: url("./images/patnered.png") center/cover no-repeat;
  color: var(--mainWhite);
}
.partnered-center {
  max-width: 1170px;
  margin: 0 auto;
}
.partnered-container {
  text-align: center;
  padding: 0rem 20rem;
}
.btn-white {
  background: var(--mainWhite);
  color: var(--mainBlack);
  margin: 1rem 0 0 0;
}
.partnered-btn-div {
  padding: 2rem 0;
  display: flex;
  justify-content: center;
}
.grid-p span {
  color: var(--primaryColor);
}
/* end of partnered */

/* testimonials */
.testimonials {
  padding: 6rem 2rem;
}
.testimonials-center {
  max-width: 1170px;
  margin: 0 auto;
}
.testimonials-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-row-gap: 3rem;
  grid-column-gap: 12rem;
}
.testimonials-image {
  display: flex;
  justify-content: flex-end;
}

.testimonials-text {
  box-shadow: var(--main-shadow);
  padding: 2rem;
  margin: 4rem 0 2rem 0;
  border-radius: 2rem;
}
/* end of testimonials */

/* Footer */
.footer {
  padding: 6rem 2rem;
  color: var(--mainBlack);
  background: url("./images/footer.png") center/cover no-repeat;
}
.footer h4 {
  font-size: 1.8rem;
  margin-bottom: 2rem;
  text-transform: capitalize;
  color: var(--primaryColor);
}
.summary {
  color: var(--mainBlack);
  max-width: 1170px;
  margin: 0 auto;
}
.follow-links-footer {
  display: flex;
  list-style-type: none;
}
.follow-links-footer .follow-icon-footer {
  color: var(--mainWhite);
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.follow-links-footer .follow-icon-container-footer {
  background: var(--secondaryColor);
  padding: 0.3rem 0.3rem;
  border-radius: 0.5rem;
}
.follow-container-footer {
  margin: 0 0.5rem;
}
.footer img {
  width: 14rem;
}
.footer-one {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: space-between;
}
.footer-contact a {
  text-decoration: none;
  color: var(--mainBlack);
}
.footer-contact li {
  margin: 0 0 1rem 0;
  list-style-type: none;
}
.last-footer {
  display: flex;
  padding: 6rem 0 0 0;
}
@media screen and (min-width: 768px) {
  .footer-center {
    max-width: 1170px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-content: space-between;
  }
  .footer-follow {
    padding: 2rem 0 0 0;
  }
  .footer-card {
    border-radius: 1.9rem;
    padding: 2rem 1rem 1rem 1rem;
    position: absolute;
    width: 40%;
    top: 60%;
    right: 10%;
    margin: 0 auto;
    font-size: 1.4rem;
  }
  .footer-one {
    text-transform: capitalize;
    display: flex;
  }
  .footer-two {
    padding-top: 8rem;
  }
  .footer-c {
    padding: 1.5rem;
    color: var(--primaryColor);
  }
  .footer-b {
    display: flex;
    text-decoration: none;
    color: var(--mainBlack);
    align-items: center;
  }
  .footer-map {
    background: url("./images/odogwu.png") center/cover no-repeat;
    position: relative;
    display: flex;
    justify-content: center;
  }
  .footer-map ul {
    list-style: none;
  }
  .map-phone {
    color: var(--secondaryColor);
    font-weight: 600;
  }
  .map-message {
    color: var(--primaryColor);
  }
  .last-footer {
    display: flex;
    flex-direction: column;
    padding: 6rem 0 0 0;
    max-width: 1170px;
    margin: 0 auto;
  }
  .last-footer p {
    text-align: left;
  }
  .last-footer b {
    color: var(--primaryColor);
  }
  .last-footer h5 {
    padding: 3rem 0 0 0;
    color: var(--primaryColor);
    text-align: center;
    font-size: 1.5rem;
  }
}
/* End of Footer */
