:root {
  font-size: 62.5%;
  --primaryColor: #66beb0;
  --secondaryColor: #b7babd;
  --uniColor: #7a7a7a;
  --mainWhite: #fff;
  --mainBlack: #444;
  --mainGrey: #f8f8f8;
  --mainSpacing: 0.2rem;
  --lineHeight: 1.3;
  --mainTransition: all 0.3s linear;
  --largeFont: 9rem;
  --mediumFont: 5.5rem;
  --smallFont: 4.6rem;
  --main-shadow: 0 0 0.2rem 0 rgba(212, 212, 212, 0.849);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* globals */
body {
  font-family: Arial, Helvetica, sans-serif;
  background: var(--mainWhite);
  overflow-x: hidden;
  color: var(--mainBlack);
  font-size: 1.6rem;
}

/* end of globals */

/* navbar */
.navbar {
  position: fixed;
  width: 100%;
  padding: 1.5rem 2rem;
  background: rgba(255, 255, 255, 0.856);
  /* box-shadow: var(--main-shadow); */
  z-index: 1;
  margin: 0 0 2rem 0;
}

.navbar-header {
  display: flex;
  flex-direction: column;
}

.nav-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.nav-logo small {
  font-style: italic;
  text-transform: capitalize;
  font-size: 1.1rem;
  color: var(--uniColor);
}
.nav-logo small {
  display: none;
}
.nav-logo img {
  width: 5rem;
  display: none;
}
.nav-logo-fixed {
  display: none;
}
.peter-logo-2 {
  text-transform: uppercase;
  text-decoration: none;
  color: var(--primaryColor);
  font-size: 2.5rem;
  font-weight: bolder;
  letter-spacing: var(--mainSpacing);
}
.peter-logo-1 {
  display: none;
}
.image2 {
  width: 4rem;
}
.nav-btn {
  font-size: 2rem;
  border: none;
  background: none;
  color: var(--mainBlack);
}
.search-icon {
  font-size: 1.8rem;
  color: var(--mainBlack);
}
.search-icon2 {
  display: none;
}
.nav-btn-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.nav-links a {
  margin: 0 1rem;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--mainBlack);
  letter-spacing: 0.1rem;
  display: none;
  font-size: 1.4rem;
}

.active {
  color: var(--primaryColor) !important;
  font-weight: bold;
}
.pete-logo {
  display: none;
}

.pete-logo-fixed {
  display: none;
}
@media screen and (min-width: 768px) {
  .navbar {
    position: fixed;
    width: 100%;
    padding: 2rem 2rem;
    background: rgba(255, 255, 255, 0.856);
    margin: 0 0 5rem 0;
    visibility: visible;
    /* display: flex; */
  }

  .navbar-hidden {
    /* display: none; */
    visibility: hidden;
    padding: 1.8rem;
  }
  .hero-padding-top {
    margin: 9.2rem 0 0 0;
  }

  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
  }
  .nav-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .nav-header-f {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navbar-f {
    display: none;
  }
  .nav-btn {
    display: none;
  }
  .search-icon {
    display: none;
  }
  .search-icon2 {
    display: inline-block;
    color: var(--mainBlack);
    font-size: 1.8rem;
  }
  .image2 {
    width: 5rem;
    display: none;
  }
  .nav-links {
    display: flex;
    justify-content: center;
    list-style-type: none;
  }
  .nav-links-fixed {
    position: static;
  }
  .nav-links a {
    margin: 0 1rem;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: bold;
    color: var(--mainBlack);
    letter-spacing: 0.1rem;
    display: inline;
  }
  .navbar-logo {
    padding: 3rem 0;
  }
  .nav-btn-logo {
    display: none;
  }
  .nav-logo {
    display: flex;
    justify-content: center;
    padding: 0 0 0rem 0;
  }
  .nav-logo small {
    display: block;
  }
  .nav-logo img {
    width: 7rem;
    display: inline-block;
  }
  .peter-logo-1 {
    text-transform: uppercase;
    text-decoration: none;
    color: var(--mainBlack);
    font-size: 4.5rem;
    font-weight: bolder;
    letter-spacing: var(--mainSpacing);
    display: inline-block;
  }
  .p-logo-fixed {
    text-transform: uppercase;
    text-decoration: none;
    color: var(--mainBlack);
    font-size: 3rem;
    font-weight: bolder;
    letter-spacing: var(--mainSpacing);
    display: inline-block;
  }
  .peter-logo-2 {
    display: none;
  }
  .pete-logo {
    display: inline-block;
    text-decoration: none;
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--primaryColor);
    font-weight: bolder;
    visibility: hidden;
  }
}
/* end of navbar */

/* Hero */
.hero {
  min-height: calc(100vh - 68.75px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
@media screen and (min-width: 768px) {
  .hero {
    min-height: calc(100vh - 67.5px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }
}
/* End of Hero */

/* banner */
.banner {
  padding: 0rem 2rem;
}
.banner-center {
  max-width: 117rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 2rem;
}
.left-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.right-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.grid-text {
  padding: 0 0 1rem 0;
  color: var(--mainBlack);
}
.btn-container {
  display: flex;
}
.btn {
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 0.5rem;
  text-decoration: none;
  color: var(--mainBlack);
  background: #0025b4;
  text-transform: capitalize;
}
.dark {
  background: var(--mainBlack);
  color: var(--mainWhite);
}
.box {
  position: relative;
}
.box-center {
  position: absolute;
  color: var(--mainBlack);
  font-weight: bold;
  padding: 2rem;
  border-radius: 50%;
  left: 60%;
  top: 60%;
}
.box-center p {
  background: rgba(211, 210, 210, 0.884);
  padding: 3.5rem;
  border-radius: 50%;
  position: relative;
}
.box-center span {
  position: absolute;
  top: 45%;
  left: 13%;
}

@media screen and (min-width: 768px) {
  .left-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .right-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 0rem 0 0;
  }
  btn .grid-text {
    padding: 0 0 2rem 0;
    color: var(--mainBlack);
  }
  .btn {
    padding: 1rem 4rem;
    text-transform: capitalize;
    text-decoration: none;
    color: var(--mainWhite);
    background: #0025b4;
  }
  .btn-container {
    display: flex;
  }
  .box {
    position: relative;
  }

  .box-center {
    position: absolute;
    color: var(--mainBlack);
    font-weight: bold;
    padding: 4rem;
    /* background: rgba(241, 238, 238, 0.884); */
    border-radius: 50%;
    left: 20%;
    top: 20%;
  }
  .box-center p {
    background: rgba(211, 210, 210, 0.884);
    padding: 5rem;
    border-radius: 50%;
    position: relative;
    font-size: 1.6rem;
  }
  .box-center span {
    position: absolute;
    top: 45%;
    left: 20%;
  }
}
/* end of banner */

/* Title */
.section-title {
  text-align: center;
  margin-bottom: 5rem;
}
/* end of Title */

/* why procredita */
.why-procredita {
  padding: 6rem 2rem;
  background: #f5f9ff;
}
.why-procredita-center {
  max-width: 1170px;
  margin: 0 auto;
}
.why-procredita-container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 2rem;
  text-align: left;
}
.card {
  box-shadow: 0px 15px 55px rgba(0, 0, 0, 0.1);
  background: #ffffff;
}
.card-center {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-row-gap: 3rem;
  grid-column-gap: 3rem;
  text-align: center;
}
.card-btn-div {
  padding: 2rem 0;
  display: flex;
  justify-content: center;
}
/* end of why procredita */

/* own procredita */
.own-procredita {
  padding: 6rem 2rem;
}
.own-procredita-center {
  max-width: 1170px;
  margin: 0 auto;
}
.own-procredita-container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-row-gap: 3rem;
  grid-column-gap: 3rem;
  text-align: right;
}
/* end of own procredita */

/* partnered */
.partnered {
  padding: 6rem 2rem;
  background: url("./images/patnered.png") center/cover no-repeat;
  color: var(--mainWhite);
}
.partnered-center {
  max-width: 1170px;
  margin: 0 auto;
}
.partnered-container {
  text-align: center;
  padding: 0rem 15rem;
}
.btn-white {
  background: var(--mainWhite);
  color: var(--mainBlack);
  margin: 1rem 0 0 0;
}
.partnered-btn-div {
  padding: 2rem 0;
  display: flex;
  justify-content: center;
}
/* end of partnered */

/* testimonials */
.testimonials {
  padding: 6rem 2rem;
}
.testimonials-center {
  max-width: 1170px;
  margin: 0 auto;
}
.testimonials-container {
  text-align: center;
  padding: 0rem 15rem;
}
/* end of testimonials */

/* Footer */
.footer {
  padding: 6rem 2rem;
  color: var(--mainBlack);
  background: url("./images/footer.png") center/cover no-repeat;
}
.footer h4 {
  font-size: 1.8rem;
  margin-bottom: 2rem;
  text-transform: capitalize;
}
.summary {
  color: var(--mainBlack);
  max-width: 1170px;
  margin: 0 auto;
}
.follow-links-footer {
  display: flex;
  list-style-type: none;
}
.follow-links-footer .follow-icon-footer {
  color: var(--mainWhite);
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.follow-links-footer .follow-icon-container-footer1 {
  background: #3b5998;
  padding: 0.3rem 0.3rem;
  border-radius: 0.1rem;
}
.follow-links-footer .follow-icon-container-footer2 {
  background: #55acee;
  padding: 0.3rem 0.3rem;
  border-radius: 0.1rem;
}
.follow-links-footer .follow-icon-container-footer3 {
  background: #e95950;
  padding: 0.3rem 0.3rem;
  border-radius: 0.1rem;
}
.follow-links-footer .follow-icon-container-footer4 {
  background: #007bb5;
  padding: 0.3rem 0.3rem;
  border-radius: 0.1rem;
}
.follow-links-footer .follow-icon-container-footer5 {
  background: #04669a;
  padding: 0.3rem 0.3rem;
  border-radius: 0.1rem;
}
.follow-container-footer {
  margin: 0 1rem 0 0;
}
.footer img {
  width: 14rem;
}
.footer-one {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 40px;
  justify-content: space-between;
}
.footer-contact a {
  text-decoration: none;
  color: var(--mainBlack);
}
.footer-contact li {
  margin: 0 0 2rem 0;
  list-style-type: none;
}
.last-footer {
  display: flex;
  padding: 6rem 0 0 0;
}
@media screen and (min-width: 768px) {
  .footer-center {
    max-width: 1170px;
    margin: 0 auto;
  }
  .footer-two-center {
    max-width: 1170px;
    margin: 0 auto;
  }
  .footer-one {
    text-transform: capitalize;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-gap: 40px;
    justify-content: space-between;
  }
  .last-footer {
    display: flex;
    flex-direction: column;
    padding: 6rem 0 0 0;
  }
  .last-footer p {
    text-align: left;
  }
  .last-footer h5 {
    padding: 3rem 0 0 0;
    text-align: center;
  }
}
/* End of Footer */
